<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <div>Logo</div>
        <li><a href="/">Cars Listing</a></li>
        <li><a href="/addcategory">Add Category</a></li>
        <li><a href="/addcar">Add Car</a></li>
    </ul>
</nav>

<h1>Category List</h1>
<div th:each="category : ${categories}">
    <h2 th:text="${category.name}"></h2>

<!-- Where is categories coming from?
  HomeController: model.addAttribute("categories", categoryRepository.getAll();
  -->

   <div th:each="car : ${cars}">
       <p th:text="${car.model}"></p>
   </div>


</div>

</body>
</html>

<!--
How do I display new cars within a given or new category?

-->