<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <div>Logo</div>
        <li><a href="/">Cars Listing</a></li>
        <li><a href="/addcategory">Add Category</a></li>
        <li><a href="/addcar">Add Car</a></li>
    </ul>
</nav>
<h1>Category List</h1>
<div th:each="category : ${categories}">
    <h2 th:text="${category.name}"></h2>
    <ul>
        <th:block th:each="car : ${category.cars}">
            <li th:inline="text"><b>[[${car.model}]]</b>
            released in
            [[${car.year}]].
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>